html {
  height: 100vh;
}
body {
  height: 100%;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.super-container {
  max-width: 1024px;
  min-height: calc(100vh - 67.81px - 80px);
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
